Import de biblioteca e leitura de arquivo csv

In [3]:
import pandas as pd

# Leia o CSV desativando o aviso
df = pd.read_csv('ITENS_CONTRATOS.CSV', sep=';', encoding='latin-1', low_memory=False)

Formatando coluna que estava com Valor NaN

In [4]:
# Exemplo de dados com valores em formato de string
dados = {'VL. Unit.Original': ['1,000', '2,000', '3,000', None, None, None]}

# Converte a coluna para string antes de substituir vírgulas e pontos
df['VL. Unit.Original'] = df['VL. Unit.Original'].astype(str).str.replace(',', '').str.replace('.', '')

# Converte para float
df['VL. Unit.Original'] = pd.to_numeric(df['VL. Unit.Original'], errors='coerce')

# Calcula a média da coluna convertida para float
media_coluna = df['VL. Unit.Original'].mean()

# Preenche os valores NaN com a média da coluna
df['VL. Unit.Original'] = df['VL. Unit.Original'].fillna(media_coluna)

Exibindo todos os calores preenchidos

In [5]:
print(df.info())
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279089 entries, 0 to 279088
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Contratação                   279089 non-null  int64
 1   ID Item                       279089 non-null  int64
 2   Item                          279089 non-null  object
 3   Qtde Original                 279089 non-null  object
 4   VL. Unit.Original             279089 non-null  float64
 5   Total Aditivada/Suprimida     279089 non-null  object
 6   VL. Unit.Aditivado/Suprimido  279089 non-null  object
 7   data_extracao                 279089 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 17.0+ MB
None
Contratação                     0
ID Item                         0
Item                            0
Qtde Original                   0
VL. Unit.Original               0
Total Aditivada/Suprimida       0
VL. Unit.Aditivado/Suprimido    0
data_extracao                   0
dtype: int64